@media only screen and (min-width: 735px){
body{
    background-color: #dfdcf1;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container
{
    background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 600px;
}
h1
{
    text-align: center;
    color: #333;
}
form
{
    margin-bottom: 20px;
}
label
{
    display: block;
    margin-bottom: 10px 0 5px;
}
input, select{
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
.gender 
{
           display: flex;
           gap : 20px;
           align-items: center;
}
.gender label
{
            display: flex;
        }
.actions {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            
        }
table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 10px;
            text-align: center;
            border: none;
        }
        .cancel {
            color: #7a5cff;
            text-decoration: underline;
            cursor: pointer;
        }
tr:nth-child(even) {
            background-color: #e7e3fe;
        }
   button{
    width: 95%;
    padding: 15px 15px;
    border: 2px solid #7a5cff;
   }
select{
    width: 100%;
}
.gender input[type="radio"] {
    accent-color: #7a5cff;
    border: 1px solid #7a5cff;
}
.error-message {
  color: red;
  margin-bottom: 2px; 
  text-align: right; 
}
}